<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td>
        <!--アソシエーション結んでるので@booksにuserのデータも入ってる(という解釈で合ってるはず)-->
        <!--プロフィール画像クリックでそのユーザーのshowに飛ぶ-->
        <%= link_to user_path(book.id) do %>
          <%= image_tag book.user.get_profile_image(100, 100) %>
        <% end %>
      </td>
      <td>
        <!--タイトルクリックでそのbookのshowに飛ぶ-->
        <%= link_to book_path(book.id) do %>
          <%= book.title %>
        <% end %>
      </td>
      <td>
        <%= book.body %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>