<% if @book.errors.any? %>
  <%= @book.errors.count %> error prohibited this obj from being saved:
  <ul>
    <%= @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'users/info.html.erb', user: @user, book: @book %>

<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <!--可視化するためテスト的にユーザー名も表示させてみる-->
      <th>User</th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td>
        <!--アソシエーション結んでるので@booksにuserのデータも入ってる(という解釈で合ってるはず)-->
        <!--プロフィール画像クリックでそのユーザーのshowに飛ぶ-->
        <!--(|book|で受けた"book"の"id"を付与してあげないとURLの":id"が判別できなくてエラーになる…)-->
        <%= link_to user_path(book.user_id) do %>
          <%= image_tag book.user.get_profile_image(100, 100) %>
        <% end %>
      </td>
      <td>
        <!--動作確認時に誰の投稿かわかりにくいので可視化するためユーザー名を表示させてみる-->
        <!--|book|で受けた"book"に、Userモデルの持つname(user.name)を指定(アソシエーションを結んでるからできる)-->
        <%= book.user.name %>
      </td>
      <td>
        <!--タイトルクリックでそのbookのshowに飛ぶ-->
        <!--(|book|で受けた"book"の"id"を付与してあげないとURLの":id"が判別できなくてエラーになる…)-->
        <%= link_to book_path(book.id) do %>
          <%= book.title %>
        <% end %>
      </td>
      <td>
        <%= book.body %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>