<%= render 'users/info.html.erb', user: @user, book: @book %>

<h1>Book detail</h1>
<table>
  <tbody>
    <tr>
      <td>
        <!--books_controller#showで定義した@bookに対してUserモデルのget_profile_imageメソッドの使用(アソシエーションを結んでいるから使用可能)-->
        <%= image_tag @book.user.get_profile_image(100, 100) %>
      </td>
      <td>
        <!--bookのタイトルをクリックするとbookの詳細ページへ飛ぶようリンクを-->
        <%= link_to book_path(@book.id) do %>
          <%= @book.title %>
        <% end %>
      </td>
      <td>
        <%= @book.body %>
      </td>
    </tr>
  </tbody>
</table>